<template>
  <div class="">
    <div id="fh5co-page">
      <home-header></home-header>
      <router-view/>
      <institution-footer></institution-footer>
    </div>
  </div>
</template>

<script>
  import HomeNav from '../home/Nav.vue'
  import HomeHeader from '../home/Header.vue'
  import InstitutionFooter from './Footer.vue'

  export default {
    components: {
      InstitutionFooter,
      HomeHeader,
      HomeNav

    },
    data () {
      return {}
    }
  }
</script>

<style scoped>
  @import "/static/css/animate.css";
  @import "/static/css/icomoon.css";
  @import "/static/css/bootstrap.css";
  @import "/static/css/flexslider.css";
  @import "/static/css/style.css";
</style>
