<template>
  <div id="fh5co-product-section">

    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <div class="heading-section">
            <h2></h2>
            <p>Booking appointment in {{branch.name}}.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label>Select service</label>
          <div class="form-group">
            <select v-model="appointment.service_id" class="form-control">
              <option value="" selected disabled>Select Service</option>
              <option :value="service.public_id" v-for="service in services">{{service.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <label>Select Date</label>
          <div class="form-group">
            <datepicker v-model="booked_date" @selected="dateSelected()" :disabled="disabled_settings" input-class="form-control"></datepicker>
          </div>
        </div>
        <div class="col-md-4">
          <label>Select Time</label>
          <div class="form-group">
            <vue-timepicker hide-clear-button @change="timeSelect()" v-model="appointment.selected_time"></vue-timepicker>
          </div>
        </div>
      </div>
      <div class="row">
       <div class="col-md-4">
         <div class="col-md-12">
           <div class="form-group">
             <button type="submit"  data-toggle="modal" data-target="#myModal" class="btn btn-primary">Make Booking</button>
           </div>
         </div>
       </div>


      </div>
    </div>
    <div id="myModal" data-backdrop="false" style="margin-top: 15%" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-center">Deposit</h4>
          </div>
          <div class="modal-body">
            <div class="text-center">
              <div class="heading-section">
                <h2></h2>
                <p>To avoid spam booking, you will be required to pay a small deposit which intern will be deducted from the total amount once you visit the Salon/Spa or Barber Shop</p>
                <small>Pay using the following details and put the reference code.</small>
                <br>
                <br>
                <h4>Till Number: 983445</h4>
                <h4>Amount: 500</h4>
              </div>
              <div class="row">
                <div class="col-md-6 col-md-offset-3">
                  <small>Mpesa Reference Code</small>
                  <div class="form-group">
                    <input type="text" v-model="appointment.mpesa_code" placeholder="KHDJHVS" class="form-control">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <button type="submit" @click="book()" class="btn btn-success">Complete Booking</button>
                    <v-loading></v-loading>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
  import VueTimepicker from 'vue2-timepicker'
  import vSelect from 'vue-select'
  import Datepicker from 'vuejs-datepicker'
  import VLoading from '../VLoading.vue'
  export default {
    components: {
      VLoading,
      Datepicker,
      vSelect,
      VueTimepicker
    },
    data () {
      return {
        show: false,
        booked_date: '',
        appointment: {
          branch_id: this.$route.params.branch_id,
          service_id: '',
          formated_date: this.dateSelected(),
          selected_time: {
            HH: '',
            mm: ''
          },
          mpesa_code: ''
        },
        disabled_settings: {
          to: new Date(this.$moment().add(1, 'd').format('YYYY, MM, DD')),
          days: []
        }
      }
    },
    computed: {
      branch: function () {
        return this.$store.state.institutionStore.branch
      },
      services: function () {
        return this.$store.state.serviceStore.services
      }
    },
    created () {
      this.$store.dispatch('get_branch', this.$route.params.branch_id)
      this.$store.dispatch('get_services', this.$route.params.branch_id)
    },
    methods: {
      dateSelected: function () {
        return this.$moment(Date(this.booked_date)).format('YYYY-MM-DD')
      },
      timeSelect: function () {
        console.log(this.selected_time)
      },
      changeShow: function () {
        this.show = true
      },
      book: function () {
        this.$store.dispatch('loading_true')
        this.$store.dispatch('post_appointment', this.appointment)
      }
    }
  }
</script>

<style>
</style>
