<template>
  <div id="fh5co-product-section">
    <aside id="fh5co-hero" >
      <div class="flexslider" :style="{'background-image': this.branch_background(), 'background-position': 'center', 'background-repeat': 'no-repeat', 'background-size': 'contain'}">
        <div class="container">
          <div class="col-md-8 col-md-offset-2 col-md-push-4 js-fullheight slider-text">
          </div>
        </div>
      </div>
    </aside>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <div class="heading-section">
            <h2>{{branch.name}}</h2>
            <em><small>{{branch.tagline}}</small></em>
            <p>About Us: {{branch.description}}</p>
          </div>

        </div>
      </div>
      <div class="row">
        <!--<div class="col-md-4">-->
          <!--<p>Location : <button v-if="show === false" class="btn btn-sm btn-info" @click="changeVisibility()">View on Map</button><button class="btn btn-sm btn-info" @click="changeVisibility()" v-if="show === true">View Services</button></p>-->
          <!--<p>Opening Time: </p>-->
          <!--<p>Closing Time: </p>-->
        <!--</div>-->
        <div class="col-md-8" >
          <h3>Services we offer...</h3>
          <button class="btn btn-lg btn-default" v-for="service in services">{{service.name}}</button>
        </div>
        <!--<div class="col-md-8" v-if="show === true">-->
          <!--<h3>Branch name on map</h3>-->
          <!--<gmap-map :center="center" :zoom="10" style="width: 100%; height: 400px">-->
          <!--</gmap-map>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        show: false,
        center: {lat: -1.301024, lng: 36.822668}
      }
    },
    created () {
      this.$store.dispatch('get_branch', this.$route.params.branch_id)
      this.$store.dispatch('get_services', this.$route.params.branch_id)
    },
    computed: {
      branch: function () {
        return this.$store.state.institutionStore.branch
      },
      services: function () {
        return this.$store.state.serviceStore.services
      }
    },
    methods: {
      changeVisibility: function () {
        this.show = !this.show
      },
      branch_background: function () {
        var url = 'http://lykaah.com:5100/banner/' + this.$store.state.institutionStore.branch.banner
        return 'url("' + url + '")'
      }
    }
  }
</script>

<style>

</style>
