<template>
  <div id="fh5co-contact-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <div class="heading-section">
            <h2></h2>
            <p><strong>{{institution.name}}'s Admin registration.</strong> The details put here will administrate {{institution.name}} and its branches.</p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-md-push-1">
        <form @submit.prevent="postUserDetails()">
          <h3>Admin Details</h3>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <input type="" class="form-control" v-model="user.first_name" placeholder="First Name...">
                <div class="error alert-danger" v-if="errors.first_name">
                  <p>{{errors.first_name[0]}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <input type="" class="form-control" v-model="user.last_name" placeholder="Last Name...">
                <div class="error alert-danger" v-if="errors.last_name">
                  <p>{{errors.last_name[0]}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <input type="email" class="form-control" v-model="user.email" placeholder="email...">
                <div class="error alert-danger" v-if="errors.email">
                  <p>{{errors.email[0]}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="tel" class="form-control" v-model="user.phone_number" placeholder="phone number 254...">
                <div class="error alert-danger" v-if="errors.phone_number">
                  <p>{{errors.phone_number[0]}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <vue-password v-model="user.password" classes="input"></vue-password>
                <div class="error alert-danger" v-if="errors.password">
                  <p>{{errors.password[0]}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <button class="btn btn-primary" type="submit">Register</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
  import VuePassword from 'vue-password'
  export default {
    components: {
      VuePassword
    },
    data () {
      return {
        user: {
          first_name: '',
          last_name: '',
          email: '',
          password: '',
          phone_number: '',
          institution: this.$route.params.institution_id,
          redirect_url: 'SignUpLogin'
        }
      }
    },
    created () {
      this.$store.dispatch('getInstitution', this.$route.params.institution_id)
    },
    computed: {
      institution: function () {
        return this.$store.state.institutionStore.institution
      },
      errors: function () {
        return this.$store.state.errorStore.all_errors
      }
    },
    methods: {
      postUserDetails: function () {
        this.$store.dispatch('post_institution_user', this.user)
      }
    }
  }
</script>

<style>

</style>
