<template>
  <footer>
    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3 class="section-title">About Lykaah</h3>
            <p>{{short_about}}</p>
          </div>

          <div class="col-md-4 col-md-push-1">
            <h3 class="section-title">Our Services</h3>
            <ul>
              <li><a href="#">Lykaah Store</a></li>
              <li><a href="#">Lykaah Stories</a></li>
              <li><a href="#">Lykaah Community</a></li>
              <li><a href="#">Lykaah Trends</a></li>
            </ul>
          </div>

          <div class="col-md-4">
            <h3 class="section-title">Information</h3>
            <ul>
              <li><a href="#">Terms &amp; Condition</a></li>
              <li><a href="#">Privacy &amp; Policy</a></li>
              <li><a href="#">Contact Us</a></li>
              <li>
                <router-link :to="{name: 'Register'}"><button class="btn btn-success btn-sm">Register your Salon/Spa/Barber Shop</button></router-link>
              </li>
            </ul>
          </div>
        </div>
        <div class="row copy-right">
          <div class="col-md-6 col-md-offset-3 text-center">
            <p class="fh5co-social-icon">
              <a href="#"><i class="icon-twitter2"></i></a>
              <a href="#"><i class="icon-facebook2"></i></a>
              <a href="#"><i class="icon-instagram"></i></a>
              <a href="#"><i class="icon-dribbble2"></i></a>
              <a href="#"><i class="icon-youtube"></i></a>
            </p>
            <p>Copyright {{this.$moment(new Date()).format('YYYY')}}<a href="https://fluidtechglobal.com">FluidTech Global</a>. All Rights Reserved. </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
  export default {
    name: 'institution-footer',
    data () {
      return {
        short_about: 'We focus on making it easy for you to find news about the latest beauty trends, do online booking for you Salon, Spa or Barber shop appointments and also rate for your the salons around you.'
      }
    }
  }
</script>

<style>

</style>
