<template>
  <div id="fh5co-product-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <div class="heading-section">
            <h2></h2>
            <p>Salons, Spas and Barber Shops near you.</p>
          </div>
        </div>
      </div>
      <!--<h2>Salons</h2>-->
     <loading  v-if="branches.length === 0"></loading>

      <div class="row" v-if="branches.length > 0">
        <div class="col-md-3 prod text-center " v-for="branch in branches" >
          <div class="product" :style="{'background-image': branch_background(branch.banner)}">
            <a href="#" @click="openInstitution(branch.public_id)" class="view">
              <i class="icon-eye"></i>
            </a>
          </div>
          <h3><a href="#">{{branch.name}}</a></h3>
          <!--<span class="price">From Ksh 300</span>-->
          <br>
          <span class="price">
            <button class="btn btn-sm btn-info" @click="openInstitution(branch.public_id)">View Details</button>
            <button class="btn btn-sm btn-primary" @click="openBooking(branch.public_id)">Book Now</button>
          </span>
        </div>
      </div>

      <!--<h2>Spas</h2>-->

      <!--<h2>Barber Shops</h2>-->
      <!--<div class="row">-->
        <!--<div class="col-md-3 prod text-center ">-->
          <!--<div class="product" style="background-image: url(/static/images/img-9.jpg);">-->
            <!--<a href="#" class="view">-->
              <!--<i class="icon-plus"></i>-->
            <!--</a>-->
          <!--</div>-->
          <!--<h3><a href="#">Salon Name ~ Branch</a></h3>-->
          <!--<span class="price">From Ksh 300</span>-->
          <!--<br>-->
          <!--<span class="price">-->
            <!--<button class="btn btn-sm btn-info" @click="openInstitution('some_id')">View Details</button>-->
            <!--<button class="btn btn-sm btn-primary"  @click="openBooking('some_id')">Book Now</button>-->
          <!--</span>-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>
</template>

<script>
  import Loading from '../Loading.vue'

  export default {
    components: {Loading},
    data () {
      return {
      }
    },
    created () {
      this.$store.dispatch('get_near_branches')
    },
    computed: {
      branches: function () {
        return this.$store.state.institutionStore.branches
      }
    },
    methods: {
      branch_background: function (banner) {
        var url = 'http://lykaah.com:5100/banner/' + banner
        return 'url("' + url + '")'
      },
      openBooking: function (branchId) {
        if (localStorage.getItem('access_token') !== null) {
          this.$router.push({
            name: 'Book',
            params: {
              branch_id: branchId
            }
          })
        } else {
          this.$snotify.info('You will need to login in order for you to make an appointment', 'Not Logged In', {
            timeout: 3000,
            showProgressBar: false,
            closeOnClick: false,
            pauseOnHover: true
          })
        }
      },
      openInstitution: function (branchId) {
        this.$router.push({
          name: 'Branch',
          params: {
            branch_id: branchId
          }
        })
      }
    },
    mounted () {
      this.$getLocation().then(coordinates => {
        console.log(coordinates)
      })
    }
  }
</script>

<style scoped>

</style>
