<template>
  <div id="fh5co-contact-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <div class="heading-section">
            <h2></h2>
            <p>Join our village of Spas, Salons and Barber Shops. It is free after all.</p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-md-push-1">
        <form @submit.prevent="postInstitution()">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <select v-model="institution.type" class="form-control">
                  <option value="" disabled selected>Select Institution Type</option>
                  <option :value="type.public_id" v-for="type in institution_types">{{type.name}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="" v-model="institution.name" class="form-control" placeholder="Institution Name...">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <input type="url" class="form-control" v-model="institution.website" placeholder="Website...">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <input type="email" class="form-control" v-model="institution.email" placeholder="Email...">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <input type="tel" class="form-control" v-model="institution.phone_number" placeholder="Phone Number...">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <button class="btn btn-primary" type="submit">Register</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        institution: {
          type: '',
          name: '',
          website: 'http://www.',
          email: '',
          phone_number: '2547'
        }
      }
    },
    created () {
      this.$store.dispatch('get_institution_types')
    },
    computed: {
      institution_types: function () {
        return this.$store.state.institutionStore.institution_types
      }
    },
    methods: {
      postInstitution: function () {
        this.$store.dispatch('post_institution', this.institution)
      }
    }
  }
</script>

<style>

</style>
