<template>
  <div id="fh5co-product-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <div class="heading-section">
            <h2></h2>
            <p>Search results for .</p>
          </div>
        </div>
      </div>
      <h2>Services</h2>
      <div class="row">
        <div class="col-md-3 prod text-center ">
          <div class="product" style="background-image: url(/static/images/img-9.jpg);">
            <a href="#" class="view">
              <i class="icon-plus"></i>
            </a>
          </div>
          <h3><a href="#">Service Name</a></h3>
          <span class="price"><button class="btn btn-primary btn-sm" @click="openServiceBooking('some_id')">Book appointment now</button></span>
          <span class="price"></span>
        </div>
      </div>
      <h2>Places</h2>
      <div class="row">
        <div class="col-md-3 prod text-center ">
          <div class="product" style="background-image: url(/static/images/img-9.jpg);">
            <a href="#" class="view">
              <i class="icon-plus"></i>
            </a>
          </div>
          <h3><a href="#">Salon Name ~ Branch</a></h3>
          <span class="price"><button class="btn btn-primary btn-sm" @click="openBooking('some_id')">Book appointment now</button></span>
          <span class="price"></span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data () {
      return {}
    },
    methods: {
      openServiceBooking: function (serviceId) {
        this.$router.push({
          name: 'BookService',
          params: {
            service_id: serviceId
          }
        })
      },
      openBooking: function (branchId) {
        this.$router.push({
          name: 'Book',
          params: {
            branchId: branchId
          }
        })
      }
    }
  }
</script>

<style>

</style>
