<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Confirmed Appointments</h4>
            <v-loading></v-loading>
            <div class="card-content">
              <div class="table-responsive">
                <vue-good-table
                  :columns="columns"
                  :rows="appointments"
                  :paginate="true"
                  :globalSearch="true"
                  :lineNumbers="true"
                  styleClass="table table-striped table-no-bordered table-hover">
                  <template slot="table-row" scope="props">
                    <td class="has-text-right"></td>
                    <td class="has-text-right">{{ formated_date(props.row.date) }}</td>
                    <td class="has-text-right">{{ props.row.time }}</td>
                    <td class="has-text-right">{{ props.row.mpesa_code }}</td>
                    <td class="has-text-right">{{ duration(props.row.createdAt) }} ago</td>
                  </template>
                </vue-good-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import VLoading from '../../VLoading.vue'

  export default {
    components: {VLoading},
    data () {
      return {
        columns: [
          {
            label: 'Customer'
          },
          {
            label: 'Appointment Date'
          },
          {
            label: 'Time'
          },
          {
            label: 'Mpesa Code'
          },
          {
            label: 'Appointment Made'
          }
        ]
      }
    },
    created () {
      this.$store.dispatch('loading_true')
      this.$store.dispatch('get_old_appointments', localStorage.getItem('branch'))
    },
    computed: {
      appointments: function () {
        return this.$store.state.appointmentStore.appointments
      }
    },
    methods: {
      formated_date: function (date) {
        if (this.$moment(Date(date)).format('YYYY-MM-DD') === this.$moment(Date(new Date())).format('YYYY-MM-DD')) {
          return 'Today'
        } else {
          return this.$moment(Date(date)).format('YYYY-MM-DD')
        }
      },
      duration: function (dateTime) {
        var now = this.$moment(Date(new Date())).format('DD/MM/YYYY HH:mm:ss')
        console.log(now)
        var then = this.$moment(new Date(dateTime)).format('DD/MM/YYYY HH:mm:ss')
        console.log(then)
        return this.$moment.utc(this.$moment(now, 'DD/MM/YYYY HH:mm:ss').diff(this.$moment(then, 'DD/MM/YYYY HH:mm:ss'))).format('HH:mm:ss')
      }
    }
  }
</script>

<style>

</style>
