<template>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="card">
        <div class="card-header card-header-icon" data-background-color="rose">
          <i class="fa fa-mobile-phone fa-3x"></i>
        </div>
        <div class="card-content">
          <h4 class="card-title">Payment Confirmation</h4>
          <form @submit.prevent="confirm()">
            <div class="form-group label-floating">
              <label class="control-label">Mpesa Code</label>
              <input type="text" v-model="payment" class="form-control">
            </div>
            <button type="submit" class="btn btn-fill btn-rose">Confirm Payment</button>
            <v-loading></v-loading>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import VLoading from '../../VLoading.vue'

  export default {
    components: {VLoading},
    data () {
      return {
        payment: ''
      }
    },
    methods: {
      confirm: function () {
        this.$store.dispatch('loading_true')
        this.$store.dispatch('confirm_payment', this.payment)
      }
    }
  }
</script>

<style>

</style>
