<template>
    <div class="col-md-8 col-md-offset-2">
      <div class="card">
        <div class="card-header card-header-icon" data-background-color="rose">
          <i class="fa fa-list"></i>
        </div>
        <div class="card-content">
          <h4 class="card-title">Add Service</h4>
          <form @submit.prevent="postService()">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label">Service Name</label>
                  <input type="text" maxlength="20" v-model="service.name" class="form-control">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label">Price From (this won't be disclosed)</label>
                  <input type="number" min="1" v-model="service.price" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group label-floating">
                  <label class="control-label">Description</label>
                  <textarea v-model="service.description" cols="30" rows="10" class="form-control"></textarea>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-fill btn-rose">Assign Service</button>
            <v-loading></v-loading>
          </form>
        </div>
      </div>
    </div>
</template>

<script>
  import VLoading from '../../VLoading.vue'

  export default {
    components: {VLoading},
    data () {
      return {
        service: {
          name: '',
          price: '',
          description: '',
          branch_id: localStorage.getItem('branch')
        }
      }
    },
    methods: {
      postService: function () {
        this.$store.dispatch('loading_true')
        this.$store.dispatch('post_service', this.service)
      }
    }
  }
</script>

<style>

</style>
