<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="fa fa-list"></i>
            </div>
            <h4 class="card-title">Our Services</h4>
            <v-loading></v-loading>
            <div class="card-content">
              <div class="table-responsive">
                <vue-good-table
                  :columns="columns"
                  :rows="services"
                  :paginate="true"
                  :globalSearch="true"
                  :lineNumbers="true"
                  styleClass="table table-striped table-no-bordered table-hover">
                  <template slot="table-row" scope="props">
                    <td class="">{{ props.row.name }}</td>
                    <td class="">{{ props.row.price }}</td>
                    <td class="">{{ props.row.description }}</td>
                    <td class="">
                      <button type="button" rel="tooltip" class="btn btn-info btn-sm" @click="getService(props.row.public_id)">
                        View Details
                      </button>
                    </td>
                  </template>
                </vue-good-table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import VLoading from '../../VLoading.vue'

  export default {
    components: {VLoading},
    data () {
      return {
        columns: [
          {
            label: 'Name'
          },
          {
            label: 'Price'
          },
          {
            label: 'Description'
          },
          {
            label: 'Action'
          }
        ]
      }
    },
    created () {
      this.$store.dispatch('loading_true')
      this.$store.dispatch('get_services', localStorage.getItem('branch'))
    },
    computed: {
      services: function () {
        return this.$store.state.serviceStore.services
      }
    },
    methods: {
      getService: function () {
        alert('Coming soon')
      }
    }
  }
</script>

<style>

</style>
