<template>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="rose">
        <i class="fa fa-map-pin"></i>
      </div>
      <div class="card-content">
        <h4 class="card-title">Branch Registration</h4>
        <form @submit.prevent="postBranch()">
          <div class="form-group label-floating">
            <label class="control-label">Branch Name</label>
            <input type="text" v-model="branch.name" class="form-control">
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group label-floating">
                <label class="control-label">Email</label>
                <input type="email" v-model="branch.email" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group label-floating">
                <label class="control-label">Phone Number</label>
                <input type="tel" v-model="branch.phone_number" class="form-control">
              </div>
            </div>
          </div>
          <div class="form-group label-floating">
            <label class="control-label">Location</label>
            <input type="text" required="required" v-gmaps-searchbox=branch v-model="branch.place.name" maxlength="50" class="form-control">
          </div>
          <div class="form-group label-floating">
            <label class="control-label">Tag Line</label>
            <input type="text" v-model="branch.tag_line" class="form-control">
          </div>
          <div class="form-group label-floating">
            <label class="control-label">Description</label>
            <textarea v-model="branch.description" cols="30" rows="10" class="form-control"></textarea>
          </div>
          <button type="submit" class="btn btn-fill btn-rose">Add Branch</button>
          <v-loading></v-loading>
        </form>
      </div>
    </div>
  </div>
</div>
</template>

<script>
  import VLoading from '../../VLoading.vue'

  export default {
    components: {VLoading},
    data () {
      return {
        branch: {
          name: '',
          email: '',
          phone_number: '',
          institution: localStorage.getItem('institution'),
          place: {},
          tag_line: '',
          description: ''
        }
      }
    },
    methods: {
      postBranch: function () {
        this.$store.dispatch('loading_true')
        this.$store.dispatch('post_branch', this.branch)
      }
    }
  }
</script>

<style>

</style>
