<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Branches</h4>
            <v-loading></v-loading>
            <div class="card-content">
              <div class="table-responsive">
                <vue-good-table
                  :columns="columns"
                  :rows="branches"
                  :paginate="true"
                  :globalSearch="true"
                  :lineNumbers="true"
                  styleClass="table table-striped table-no-bordered table-hover">
                  <template slot="table-row" scope="props">
                    <td class="">{{ props.row.name }}</td>
                    <td class="">{{ props.row.phone_number }}</td>
                    <td class="">{{ props.row.email }}</td>
                    <td class="">{{ props.row.tagline }}</td>
                    <td class="">
                      <button type="button" rel="tooltip" class="btn btn-info btn-sm" @click="getBranch(props.row.public_id)">
                        View Details
                      </button>
                      <button type="button" v-if="props.row.status === 1" rel="tooltip" class="btn btn-success btn-sm" @click="addManager(props.row.public_id)">
                        Assign a Manager
                      </button>
                    </td>
                  </template>
                </vue-good-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import VLoading from '../../VLoading.vue'

  export default {
    components: {VLoading},
    data () {
      return {
        columns: [
          {
            label: 'Name'
          },
          {
            label: 'Phone Number'
          },
          {
            label: 'Email'
          },
          {
            label: 'Tag Line'
          },
          {
            label: 'Action'
          }
        ]
      }
    },
    computed: {
      branches: function () {
        return this.$store.state.institutionStore.branches
      }
    },
    created () {
      this.$store.dispatch('loading_true')
      this.$store.dispatch('get_branches', localStorage.getItem('institution'))
    },
    methods: {
      getBranch: function (branchId) {
        this.$router.push({
          name: 'SingleBranch',
          params: {
            branch_id: branchId
          }
        })
      },
      addManager: function (branchId) {
        this.$router.push({
          name: 'AddManager',
          params: {
            branch_id: branchId
          }
        })
      }
    }
  }
</script>

<style>

</style>
