<template>
  <div class="">
    <span class="nav-tabs-title"><h5>{{branch.name}} options:</h5></span>
    <div class="card">
      <div class="card-header card-header-tabs" data-background-color="blue">
        <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
            <ul class="nav nav-tabs" data-tabs="tabs">
              <li class="active">
                <a href="#profile" data-toggle="tab">
                  <i class="fa fa-info-circle"></i> Details
                  <div class="ripple-container"></div>
                </a>
              </li>
              <li class="">
                <a href="#messages" data-toggle="tab">
                  <i class="fa fa-calendar"></i> Appointments
                  <div class="ripple-container"></div>
                </a>
              </li>
              <li class="">
                <a href="#settings" data-toggle="tab">
                  <i class="fa fa-users"></i> Employees
                  <div class="ripple-container"></div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-content">
        <div class="tab-content">
          <div class="tab-pane active" id="profile">
          </div>
          <div class="tab-pane" id="messages">
            <div class="col-md-12">
              <div class="card card-plain">
                <h4 class="card-title">Un attended Appointments</h4>
                <p class="category">Appointments who's details have not been confirmed</p>
                <div class="card-content table-responsive">
                  <table class="table table-hover">
                    <thead>
                    <th>ID</th>
                    <th>Client</th>
                    <th>Service</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Mpesa Code</th>
                    </thead>
                    <tbody>
                    <tr v-for="appointment, index in appointments">
                      <td>{{index + 1}}</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="settings">
            <div class="col-md-12">
              <div class="card card-plain">
                <h4 class="card-title"><strong>{{branch.name}} Employees</strong></h4>
                <div class="card-content table-responsive">
                  <table class="table table-hover">
                    <thead>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>User Type</th>
                    <th></th>
                    </thead>
                    <tbody>
                    <tr v-for="user, index in users">
                      <td>{{index + 1}}</td>
                      <td>{{user.first_name}} {{user.last_name}}</td>
                      <td>{{user.email}}</td>
                      <td>{{user.phone_number}}</td>
                      <td>{{user.user_type.name}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data () {
      return {}
    },
    created () {
      this.$store.dispatch('get_branch', this.$route.params.branch_id)
      this.$store.dispatch('get_branch_users', this.$route.params.branch_id)
    },
    computed: {
      branch: function () {
        return this.$store.state.institutionStore.branch
      },
      appointments: function () {
        return this.$store.state.appointmentStore.appointments
      },
      users: function () {
        return this.$store.state.userStore.users
      }
    }
  }
</script>

<style>

</style>
