<template>
  <footer class="footer">
    <div class="container-fluid">
      <nav class="pull-left">
        <!--<ul>-->
          <!--<li>-->
            <!--<a href="#">-->
              <!--Home-->
            <!--</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#">-->
              <!--Company-->
            <!--</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#">-->
              <!--Portfolio-->
            <!--</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="#">-->
              <!--Blog-->
            <!--</a>-->
          <!--</li>-->
        <!--</ul>-->
      </nav>
      <p class="copyright pull-right">
        <a href="http://www.fluidtechglobal.com.com">FluidTech Global</a>, made with love
      </p>
    </div>
  </footer>
</template>

<script>
  export default {
    name: 'DashboardFooter',
    data () {
      return {}
    }
  }
</script>

<style>

</style>
