<template>
  <div class="sidebar" data-active-color="rose" data-background-color="black" data-image="/static/assets/img/sidebar-1.jpg">
    <!--
Tip 1: You can change the color of active element of the sidebar using: data-active-color="purple | blue | green | orange | red | rose"
Tip 2: you can also add an image using data-image tag
Tip 3: you can change the color of the sidebar with data-background-color="white | black"
-->
    <div class="logo">
      <router-link :to="{name: 'Dashboard'}" class="simple-text">Lykaah</router-link>
    </div>
    <div class="logo logo-mini">
      <router-link :to="{name: 'Dashboard'}" class="simple-text">LV</router-link>
    </div>
    <div class="sidebar-wrapper">
      <div class="user">
        <div class="photo">
          <!--<img src="/static/images/Lykaah.png"/>-->
        </div>
        <div class="info">
          <a data-toggle="collapse" href="#collapseExample" class="collapsed">
            {{user_name}}
            <b class="caret"></b>
          </a>
          <div class="collapse" id="collapseExample">
            <ul class="nav">
              <!--<li>-->
                <!--<a href="#">My Profile</a>-->
              <!--</li>-->
              <!--<li>-->
                <!--<a href="#">Edit Profile</a>-->
              <!--</li>-->
              <li>
                <a href="#" v-on:click="doLogout">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <ul class="nav">
        <li class="">
          <router-link :to="{name: 'Dashboard'}" class="simple-text">
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
          </router-link>
        </li>
        <li v-if="user_type === 'D3KZBwCb'">
          <a data-toggle="collapse" href="#pagesExamples">
            <i class="fa fa-map-pin"></i>
            <p>Branches
              <b class="caret"></b>
            </p>
          </a>
          <div class="collapse" id="pagesExamples">
            <ul class="nav">
              <li>
                <router-link :to="{name: 'AddBranch'}">Add Branch</router-link>
              </li>
              <li>
                <router-link :to="{name: 'Branches'}">Branches</router-link>
              </li>
            </ul>
          </div>
        </li>
        <li v-if="user_type === 'BDf0F5vu'">
          <a data-toggle="collapse" href="#componentsExamples">
            <i class="fa fa-list"></i>
            <p>My Services
              <b class="caret"></b>
            </p>
          </a>
          <div class="collapse" id="componentsExamples">
            <ul class="nav">
              <li>
                <router-link :to="{name: 'AddService'}">Add Service</router-link>
              </li>
              <li>
                <router-link :to="{name: 'Services'}">Services</router-link>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a data-toggle="collapse" href="#formsExamples">
            <i class="fa fa-calendar"></i>
            <p>Appointments
              <!--<b class="badge">3</b>-->
              <b class="caret"></b>
            </p>
          </a>
          <div class="collapse" id="formsExamples">
            <ul class="nav">
              <li>
                <router-link :to="{name: 'ConfirmPayment'}">Confirm Payment</router-link>
              </li>
              <li v-if="user_type === 'BDf0F5vu'">
                <router-link :to="{name: 'NewAppointments'}">New</router-link>
              </li>
              <li v-if="user_type === 'BDf0F5vu'">
                <router-link :to="{name: 'Appointments'}">History</router-link>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <router-link :to="{name: 'Calendar'}" class="simple-text">
            <i class="material-icons">date_range</i>
            <p>Calendar</p>
          </router-link>
        </li>
        <li v-if="user_type === 'BDf0F5vu'">
          <router-link :to="{name: 'Presentation'}" class="simple-text">
            <i class="fa fa-desktop"></i>
            <p>Branch Presentation</p>
          </router-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'DashboardNav',
    data () {
      return {
        user_name: localStorage.getItem('user_name')
      }
    },
    computed: {
      user_type: function () {
        return localStorage.getItem('mnbvcxz')
      }
    },
    methods: {
      doLogout: function () {
        this.$store.dispatch('reset_storage')
      }
    }
  }
</script>

<style>

</style>
