<template>
  <nav class="navbar navbar-transparent navbar-absolute">
    <div class="container-fluid">
      <div class="navbar-minimize">
        <button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon">
          <i class="material-icons visible-on-sidebar-regular">more_vert</i>
          <i class="material-icons visible-on-sidebar-mini">view_list</i>
        </button>
      </div>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"> Dashboard </a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <!--<li>-->
            <!--<a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">-->
              <!--<i class="material-icons">dashboard</i>-->
              <!--<p class="hidden-lg hidden-md">Dashboard</p>-->
            <!--</a>-->
          <!--</li>-->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="material-icons">person</i>
              {{user_name}}
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#" v-on:click="doLogout">Logout</a></li>
            </ul>
          </li>
        </ul>

        <!--<form class="navbar-form navbar-right" role="search">-->
          <!--<div class="form-group  is-empty">-->
            <!--<input type="text" class="form-control" placeholder="Search">-->
            <!--<span class="material-input"></span>-->
          <!--</div>-->
          <!--<button type="submit" class="btn btn-white btn-round btn-just-icon">-->
            <!--<i class="material-icons">search</i><div class="ripple-container"></div>-->
          <!--</button>-->
        <!--</form>-->
      </div>
    </div>
  </nav>
</template>

<script>
  export default {
    name: 'TopNav',
    data () {
      return {
        user_name: localStorage.getItem('user_name')
      }
    },
    methods: {
      doLogout: function () {
        this.$store.dispatch('reset_storage')
      }
    }
  }
</script>

<style>

</style>
