<template>
  <div class="">
    <header>
      <div class="container">
        <div class="fh5co-navbar-brand">
          <h1 class="text-center">
            <img src="/static/images/lykaah.png" width="5%" alt="" class="logo">
            <router-link class="fh5co-logo" :to="{name: 'Index'}">Lykaah</router-link>
          </h1>
          <h3 class=" text-center"><em>{{tagline}}...</em></h3>
        </div>
      </div>
    </header>
    <home-nav style="margin-top: -3%"></home-nav>
  </div>
</template>

<script>
  import HomeNav from './Nav.vue'

  export default {
    components: {HomeNav},
    name: 'home-header',
    data () {
      return {
        tagline: 'Some tagline'
      }
    }
  }
</script>

<style>

</style>
