<template>
<div class="">
  <div id="fh5co-page">
   <home-header></home-header>
    <router-view/>
    <home-footer></home-footer>
  </div>
</div>
</template>

<script>
  import HomeNav from './Nav.vue'
  import HomeHeader from './Header.vue'
  import HomeFooter from './Footer.vue'
  export default {
    components: {
      HomeFooter,
      HomeHeader,
      HomeNav},
    data () {
      return {}
    }
  }
</script>
<style scoped>
  @import "/static/css/animate.css";
  @import "/static/css/icomoon.css";
  @import "/static/css/flexslider.css";
  @import "/static/assets/css/bootstrap.min.css";
  @import "/static/css/style.css";
                                                                                                                                                                                                      @import "/static/css/style.css">
</style>
