<template>
 <div class="">
   <div id="fh5co-services-section">
     <div class="container">
       <div class="row">
         <div class="col-md-6 col-md-offset-3 text-center">
           <div class="heading-section">
             <h2></h2>
             <p>You love beauty? Then you are in the right place.</p>
           </div>
         </div>
       </div>
       <div class="row">
         <div class="col-md-6 text-center">
           <div class="work" style="background-image: url(/static/images/store.png);">
             <a href="http://store.lykaah.com" class="view">
               <span>Open Lykaah Store and shop</span>
             </a>
           </div>
         </div>
         <div class="col-md-6 text-center">
           <div class="work" style="background-image: url(/static/images/village.png);">
             <a href="" @click="openInstitution()" class="view">
               <span>View Salons, Spas and Barber Shop</span>
             </a>
           </div>
         </div>
       </div>
       <div class="row">
         <a href="http://store.lykaah.com">
           <div class="col-md-4 col-md-offset-2 text-center">
             <div class="services">
               <div class="icon">
                 <span><i class="icon-mobile"></i></span>
               </div>
               <h3>Lykaah Store</h3>
               <p>Find any beauty product you need, and get it delivered to your door step</p>
             </div>
           </div>
         </a>
         <a href="" @click="openInstitution()">
           <div class="col-md-4 text-center">
             <div class="services">
               <div class="icon">
                 <span><i class="icon-browser"></i></span>
               </div>
               <h3>Salons/Spas/Barber shops</h3>
               <p>Find your best Salons/Spas/Barber shops and do your booking online.</p>
             </div>
           </div>
         </a>
       </div>
     </div>
   </div>
   <div class="fh5co-counters" style="background-image: url(/static/images/hero.jpg);" data-stellar-background-ratio="0.5" id="counter-animate">
     <div class="fh5co-narrow-content">
       <div class="row" >
         <div class="col-md-4 text-center">
           <span class="fh5co-counter js-counter" data-from="0" data-to="130" data-speed="5000" data-refresh-interval="50"></span>
           <span class="fh5co-counter-label">Salons/Spas/Barber Shops</span>
         </div>
         <div class="col-md-4 text-center">
           <span class="fh5co-counter js-counter" data-from="0" data-to="1450" data-speed="5000" data-refresh-interval="50"></span>
           <span class="fh5co-counter-label">Store Outlets</span>
         </div>
         <div class="col-md-4 text-center">
           <span class="fh5co-counter js-counter" data-from="0" data-to="7497" data-speed="5000" data-refresh-interval="50"></span>
           <span class="fh5co-counter-label">Products</span>
         </div>
       </div>
     </div>
   </div>
 </div>
</template>

<script>
  export default {
    data () {
      return {}
    },
    methods: {
      openInstitution: function () {
        this.$router.push({
          name: 'Institution.Index'
        })
      }
    }
  }
</script>

<style>

</style>
