<template>
  <nav class="navbar navbar-default" style="background-color: #ffffff;" role="navigation">
    <div class="" style="margin-left: 15%; margin-right: 5%">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
          <span class="sr-only">Toggle navigation</span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-brand-centered">
        <ul class="nav navbar-nav">
          <li>
            <router-link :to="{name: 'Index'}">Home</router-link>
          </li>
          <li>
            <router-link :to="{name: 'Institution.Index'}">Around me</router-link>
          </li>
          <li><a href="#">About Us</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <form class="form-inline" @submit="search()" style="margin-top: 1%" v-if="this.$route.name !== 'Index'">
              <input class="form-control" v-model="search_term" type="text" placeholder="Search..." aria-label="Search">
              <button class="btn btn-outline-success btn-sm" style="margin-top: 1%" @submit.prevent="search" type="submit">Search</button>
            </form>
          </li>
          <li v-if="ls=== null">
            <button class="btn btn-success btn-sm" style="margin-top: 6%" @click="open()">Sign Up/Login</button>
          </li>
          <li v-if="ls !== null" class="nav-item dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user_name}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Profile</a></li>
                <li class="divider"></li>
                <li><a href="#" v-on:click="doLogout">Sign Out</a></li>
              </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</template>

<script>
  export default {
    name: 'home-nav',
    data () {
      return {
        search_term: '',
        ls: localStorage.getItem('access_token')
      }
    },
    methods: {
      search: function () {
        this.$store.dispatch('do_search', this.search_term)
      },
      open: function () {
        this.$router.push({
          name: 'SignUpLogin'
        })
      },
      doLogout: function () {
        this.$store.dispatch('reset_storage')
      }
    },
    computed: {
      user_name: function () {
        return localStorage.getItem('user_name')
      }
    }
  }
</script>

<style>

</style>
