<template>
  <div id="fh5co-product-section">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h3>Login</h3>
          <form @submit.prevent="dologin">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <input type="email" class="form-control" v-model="login.email" placeholder="email...">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input type="password" class="form-control" v-model="login.password" placeholder="******">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <button class="btn btn-success btn-sm col-md-4 col-md-offset-8" type="submit">Login</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-5 col-md-offset-2">
          <h3>Register</h3>
          <form @submit.prevent="registerUser()">
            <div class="row">
             <div class="row">
               <div class="col-md-6">
                 <div class="form-group">
                   <input type="" class="form-control" v-model="user.first_name" placeholder="First Name...">
                   <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.first_name">
                     <p>{{this.$store.state.errorStore.all_errors.first_name}}</p>
                   </div>
                 </div>
               </div>
               <div class="col-md-6">
                 <div class="form-group">
                   <input type="" class="form-control" v-model="user.last_name" placeholder="Last Name...">
                   <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.last_name">
                     <p>{{this.$store.state.errorStore.all_errors.last_name}}</p>
                   </div>
                 </div>
               </div>
             </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="email" class="form-control" v-model="user.email" placeholder="email...">
                    <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.email">
                      <p>{{this.$store.state.errorStore.all_errors.email}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="tel" class="form-control" v-model="user.phone_number" placeholder="Phone number 254...">
                    <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.phone_number">
                      <p>{{this.$store.state.errorStore.all_errors.phone_number}}</p>
                    </div>
                  </div>
                </div>
              </div>
             <div class="row">
               <div class="col-md-6">
                 <div class="form-group">
                   <input type="password" class="form-control" v-model="user.password" placeholder="Password">
                   <div class="error alert-danger" v-if="this.$store.state.errorStore.all_errors.password">
                     <p>{{this.$store.state.errorStore.all_errors.password}}</p>
                   </div>
                 </div>
               </div>
               <div class="col-md-6">
                 <div class="form-group">
                   <input type="password" class="form-control" v-model="user.confirm_password" placeholder="Confirm Password">
                 </div>
               </div>
             </div>
              <div class="col-md-12">
                <div class="form-group">
                  <button class="btn btn-success btn-sm col-md-4 col-md-offset-8" type="submit">Register</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        login: {
          email: '',
          password: ''
        },
        user: {
          first_name: '',
          last_name: '',
          email: '',
          phone_number: '',
          password: '',
          confirm_password: ''
        }
      }
    },
    methods: {
      dologin: function () {
        this.$store.dispatch('do_login', this.login)
        this.$store.dispatch('loading_true')
      },
      registerUser: function () {
        this.$store.dispatch('register_user', this.user)
        this.$store.dispatch('loading_true')
      }
    }
  }
</script>

<style>

</style>
