<template>
  <div class="">
    <div class="row">
      <div class="col-md-3 prod text-center ">
        <div class="product" style="background-image: url(/static/images/img-9.jpg);">
        </div>
      </div>
      <div class="col-md-3 prod text-center ">
        <div class="product" style="background-image: url(/static/images/img-9.jpg);">
        </div>
      </div>
      <div class="col-md-3 prod text-center ">
        <div class="product" style="background-image: url(/static/images/img-9.jpg);">
          <a href="#" class="view">
            <i class="icon-plus"></i>
          </a>
        </div>
      </div>
      <div class="col-md-3 prod text-center  ">
        <div class="product" style="background-image: url(/static/images/img-9.jpg);">
        </div>
      </div>
    </div>
    <div class="row"  >
      <div class="col-md-3 prod text-center loading ">
        <div class="product" style="background-image: url(/static/images/img-9.jpg); width: 50px; height: 10px" >
        </div>
      </div>
      <div class="col-md-3 prod text-center loading ">
        <div class="product" style="background-image: url(/static/images/img-9.jpg); width: 50px; height: 10px" >
        </div>
      </div>
      <div class="col-md-3 prod text-center loading ">
        <div class="product" style="background-image: url(/static/images/img-9.jpg); width: 50px; height: 10px" >
        </div>
      </div>
      <div class="col-md-3 prod text-center loading ">
        <div class="product" style="background-image: url(/static/images/img-9.jpg); width: 50px; height: 10px" >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center" style="letter-spacing: 20px; font-family: 'Courier New', Courier, monospace">Loading...</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 prod text-center ">
        <div class="product" style="background-image: url(/static/images/img-9.jpg);">
        </div>
      </div>
      <div class="col-md-3 prod text-center ">
        <div class="product" style="background-image: url(/static/images/img-9.jpg);">
        </div>
      </div>
      <div class="col-md-3 prod text-center ">
        <div class="product" style="background-image: url(/static/images/img-9.jpg);">
          <a href="#" class="view">
            <i class="icon-plus"></i>
          </a>
        </div>
      </div>
      <div class="col-md-3 prod text-center  ">
        <div class="product" style="background-image: url(/static/images/img-9.jpg);">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 prod text-center loading ">
        <div class="product" style="background-image: url(/static/images/img-9.jpg); width: 50px; height: 10px" >
        </div>
      </div>
      <div class="col-md-3 prod text-center loading ">
        <div class="product" style="background-image: url(/static/images/img-9.jpg); width: 50px; height: 10px" >
        </div>
      </div>
      <div class="col-md-3 prod text-center loading ">
        <div class="product" style="background-image: url(/static/images/img-9.jpg); width: 50px; height: 10px" >
        </div>
      </div>
      <div class="col-md-3 prod text-center loading ">
        <div class="product" style="background-image: url(/static/images/img-9.jpg); width: 50px; height: 10px" >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'loading',
    data () {
      return {}
    }
  }
</script>

<style scoped>
  .loading {
    -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
    -webkit-animation-timing-function: linear; /* Safari 4.0 - 8.0 */
    animation: mymove 2s infinite;
    animation-timing-function: linear;
  }
  @-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
  }

  @keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
  }
</style>
