<template>
  <pulse-loader :loading="this.$store.state.loadingStore.loading" :color="colour"></pulse-loader>
</template>

<script>
  import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
  export default {
    name: 'v-loading',
    data () {
      return {
        colour: 'red'
      }
    },
    components: {
      PulseLoader
    }
  }
</script>

<style>

</style>
