<template>
  <div class="col-md-8 col-md-offset-2">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="rose">
        <i class="fa fa-map-pin"></i>
      </div>
      <div class="card-content">
        <h4 class="card-title">Add {{branch.name}}'s Manager</h4>
        <form @submit.prevent="postManager()">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group label-floating">
                <label class="control-label">First Name</label>
                <input type="text" maxlength="20" v-model="manager.first_name" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group label-floating">
                <label class="control-label">Last Name</label>
                <input type="text" maxlength="20" v-model="manager.last_name" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group label-floating">
                <label class="control-label">Email</label>
                <input type="email" v-model="manager.email" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group label-floating">
                <label class="control-label">Phone Number</label>
                <input type="tel" v-model="manager.phone_number" class="form-control">
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-fill btn-rose">Assign Manager</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        manager: {
          first_name: '',
          last_name: '',
          email: '',
          phone_number: '',
          institution: localStorage.getItem('institution'),
          branch: this.$route.params.branch_id
        }
      }
    },
    created () {
      this.$store.dispatch('get_branch', this.$route.params.branch_id)
    },
    computed: {
      branch: function () {
        return this.$store.state.institutionStore.branch
      }
    },
    methods: {
      postManager: function () {
        this.$store.dispatch('post_branch_manager', this.manager)
      }
    }
  }
</script>

<style>

</style>
