<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header" data-background-color="orange">
            <i class="fa fa-users"></i>
          </div>
          <div class="card-content">
            <p class="category">Lykaah Customers</p>
            <h3 class="card-title">{{user_count}}</h3>
          </div>
        </div>
      </div>
      <!--<div class="col-lg-3 col-md-6 col-sm-6">-->
        <!--<div class="card card-stats">-->
          <!--<div class="card-header" data-background-color="rose">-->
            <!--<i class="material-icons">equalizer</i>-->
          <!--</div>-->
          <!--<div class="card-content">-->
            <!--<p class="category">Website Visits</p>-->
            <!--<h3 class="card-title">75.521</h3>-->
          <!--</div>-->
          <!--<div class="card-footer">-->
            <!--<div class="stats">-->
              <!--<i class="material-icons">local_offer</i> Tracked from Google Analytics-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-lg-3 col-md-6 col-sm-6">-->
        <!--<div class="card card-stats">-->
          <!--<div class="card-header" data-background-color="green">-->
            <!--<i class="material-icons">store</i>-->
          <!--</div>-->
          <!--<div class="card-content">-->
            <!--<p class="category">Revenue</p>-->
            <!--<h3 class="card-title">$34,245</h3>-->
          <!--</div>-->
          <!--<div class="card-footer">-->
            <!--<div class="stats">-->
              <!--<i class="material-icons">date_range</i> Last 24 Hours-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-lg-3 col-md-6 col-sm-6">-->
        <!--<div class="card card-stats">-->
          <!--<div class="card-header" data-background-color="blue">-->
            <!--<i class="fa fa-twitter"></i>-->
          <!--</div>-->
          <!--<div class="card-content">-->
            <!--<p class="category">Followers</p>-->
            <!--<h3 class="card-title">+245</h3>-->
          <!--</div>-->
          <!--<div class="card-footer">-->
            <!--<div class="stats">-->
              <!--<i class="material-icons">update</i> Just Updated-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    </div>
    <h3>Packages</h3>
    <br>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="card card-product">
          <div class="card-image" data-header-animation="true">
            <a href="#pablo">
              <img class="img" src="/static/images/sms.jpg">
            </a>
          </div>
          <div class="card-content">
            <h4 class="card-title">
              <a href="#pablo">SMS Communication</a>
            </h4>
            <div class="card-description">
              Reach your vast number of customers easily at 1 KES per message to any network. Click the link below to buy the amount of sms you need.
            </div>
          </div>
          <div class="card-footer">
            <div class="price">
              <h4>KES 1/sms</h4>
            </div>
            <div class="stats pull-right">
              <button class="btn btn-sm btn-success" @click="purchaseSms()">Purchase</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-product">
          <div class="card-image" data-header-animation="true">
            <a href="#pablo">
              <img class="img" src="/static/images/booking.jpg">
            </a>
          </div>
          <div class="card-content">
            <h4 class="card-title">
              <a href="#pablo">Online Booking</a>
            </h4>
            <div class="card-description">
              Allow your clients to book appointments to any of your branches online on the go. You get 100 free Sms for each subscription. Subscribe and increase your customer base.
            </div>
          </div>
          <div class="card-footer">
            <div class="price">
              <h4>KES 700/month</h4>
            </div>
            <div class="stats pull-right">
              <button class="btn btn-sm btn-info" @click="purchaseBooking()">Purchase</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data () {
      return {}
    },
    created () {
      this.$store.dispatch('count_users')
      this.$store.dispatch('count_branch_appointments_today')
    },
    computed: {
      user_count: function () {
        return this.$store.state.userStore.count_users
      }
    },
    methods: {
      purchaseSms: function () {
        this.$router.push({
          name: 'Sms'
        })
      },
      purchaseBooking: function () {
        this.$router.push({
          name: 'BookingDescription'
        })
      }
    }
  }
</script>

<style>

</style>
