<template>
  <div class="wrapper">
   <dashboard-nav></dashboard-nav>
    <div class="main-panel">
     <top-nav></top-nav>
      <div class="content">
        <router-view></router-view>
      </div>
     <dashboard-footer></dashboard-footer>
    </div>
  </div>
</template>

<script>
  import DashboardNav from './Basics/Nav.vue'
  import TopNav from './Basics/Top.vue'
  import DashboardFooter from './Basics/Footer.vue'

  export default {
    components: {
      DashboardFooter,
      TopNav,
      DashboardNav},
    data () {
      return {}
    }
  }
</script>

<style scoped>
  @import "/static/assets/css/bootstrap.min.css";
  @import "/static/assets/css/material-dashboard.css";
  @import "http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css";
  @import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons";
</style>
