<template>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="card">
        <div class="card-header card-header-icon" data-background-color="rose">
          <i class="fa fa-map-pin"></i>
        </div>
        <div class="card-content">
          <h4 class="card-title">Branch Presentation</h4>
          <div class="fileinput fileinput-new text-center" data-provides="fileinput">
            <div class="fileinput-new thumbnail">
              <img src="/static/assets/img/image_placeholder.jpg" alt="...">
            </div>
            <div class="fileinput-preview fileinput-exists thumbnail"></div>
            <div>
                                                    <span class="btn btn-rose btn-round btn-file">
                                                        <span class="fileinput-new">Select Banner Image</span>
                                                        <span class="fileinput-exists">Change</span>
                                                        <fileupload :target="url()" action="POST" v-on:progress="progress" v-on:start="startUpload" v-on:finish="finishUpload"></fileupload>
                                                    </span>
              <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import FileUpload from 'vue-simple-upload/dist/FileUpload'
  export default {
    data () {
      return {
      }
    },
    components: {
      'fileupload': FileUpload
    },
    methods: {
      url: function () {
        return 'http://lykaah.com:5100/upload/' + localStorage.getItem('branch')
//        return 'http://localhost:8000/upload/' + localStorage.getItem('branch')
      },
      startUpload (e) {
        // file upload start event
        console.log(e)
      },
      finishUpload (e) {
        this.$snotify.async('This will resolve with success', 'Async toast 1',
          // You should pass Promise of type SnotifyConfig to change some data or do some other actions
          () => new Promise((resolve) => {
            setTimeout(() => resolve({
              title: 'Upload Success',
              config: {
                closeOnClick: true,
                timeout: this.timeout,
                showProgressBar: true,
                pauseOnHover: true
              }
            }), this.timeout)
          })
        )
      },
      progress (e) {
        // file upload progress
        // returns false if progress is not computable
        console.log(e)
      }
    }
  }
</script>

<style>

</style>
