<template>
  <div class="content">
    <div class="container-fluid">
      <div class="header text-center">
        <h3 class="title">Online Booking</h3>
        <p class="category"><span class="badge">Coming Soon</span></p>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-content">
              <div class="col-md-10 col-md-offset-1">
                <div id="typography">
                  <div class="row">
                    <div class="tim-typo">
                      <h3>Research</h3>
                    </div>
                    <div class="tim-typo">
                      <p>After a successful research done on Salon, Barber Shop and Spa customers, we found out that many would love to book appointments to wherever they go. This is because they want an efficient service delivery. Many would love to reach wherever they go for beauty services and not wait. The waiting in line is what they have never been fond of, and many have switched to different institutions just because of this.</p>
                    </div>
                    <div class="tim-typo">
                      <!--<span class="tim-note">Quote</span>-->
                      <blockquote>
                        <p>
                          If I go to a Salon, I want to be attended to. I want to feel honoured, not to wait in line yet I have other things to do.
                        </p>
                        <small>
                          Someone said.
                        </small>
                      </blockquote>
                    </div>
                    <div class="tim-typo">
                      <h4>Our Booking Services Offer the following:</h4>
                    </div>
                    <div class="tim-typo">
                      <span class="tim-note">No Spam booking</span>
                      <p class="text-muted">
                        Many Institutions (Spas, Salons, Barbershops) have had the fear of people overbooking without the intention of going hence the term <em>spam booking</em>. As Lykaah Teamm we took this into consideration and added a feature where one has to pay 500 KES when booking to the branch they want to get services from. This is to bar off spam booking.
                      </p>
                    </div>
                    <div class="tim-typo">
                      <span class="tim-note">Organized Calendar</span>
                      <p class="text-muted">
                        With every booking, the branch will be able to view how their day's calendar will look like and, based on this, make appropriate plans for the coming confirmed customers.
                      </p>
                    </div>
                    <div class="tim-typo">
                      <span class="tim-note">Sms</span>
                      <p class="text-muted">
                        100 sms will be added for effective client notification for every booking confirmed.
                      </p>
                    </div>
                    <br>
                    <br>
                    <br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data () {
      return {}
    }
  }
</script>

<style>

</style>
