<template>
  <div class="content">
    <div class="container-fluid">
      <div class="header text-center">
        <h3 class="title">Sms</h3>
        <p class="category"><span class="badge">Coming Soon</span></p>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-content">
              <div class="col-md-10 col-md-offset-1">
                <div id="typography">
                  <div class="row">
                    <div class="tim-typo">
                      <h3>One on one</h3>
                    </div>
                    <div class="tim-typo">
                      <!--<p>Every successful business has an easy way of targeting its customer. It has innovative ways of communicating to them about offers, services offered and requests for feedback. Email communication is key in reaching to customers but has its cons  since many people don't get to open their mail boxes or the emails are spammed. On the other hand, Sms has a more personal touch, especially when it addresses the receiver personally.</p>-->
                      <p>Texting or SMS -- short message service -- is a fast, relatively low-cost way to connect with customers, employees, vendors and carriers. It's also an efficient communication tool, as no more than 160 characters are allowed. Texting could become a small-business owner's most invaluable communication tool, but it isn't a substitute for face-to-face meetings and official letters and reports. And it isn't an excuse for misusing grammar, punctuation and spelling.</p>
                      <p>Texting has simplified the way businesses communicate with customers. Companies create brand loyalty by messaging customers on their mobile devices and through Twitter, Facebook, Pinterest and other social media sites. Texting lets businesses get customers involved in interactive activities such as surveys, games and contests. Businesses use the technology to send customers and potential buyers instant product updates and alerts, news feeds and blogs. Texting is a low-cost, real-time alternative to pricey advertising in newspapers and magazines and online.</p>
                      <p>SMS offers the speed that businesses need to communicate rapid-fire changes in pricing goods, introducing new products or services, updating alerts and notifying vendors and carriers of delays in buying and shipping merchandise. Email can handle these tasks, but spam filters screen out and remove large numbers of messages. Also, people aren't online around the clock. But most carry their cell phones at all times, so businesses have a greater chance of reaching them through text messages than email.</p>
                      <p>Texting is surpassing email as a fast, convenient communication tool in the workplace. Employees use messaging to broadcast alerts, such as when a toxic spill occurs on the worksite or information technology systems are down. Employees text to schedule last-minute meetings or announce date and time changes of events. Employees working off site can give a supervisor or co-worker instant updates on a remote project. And an employee can send a critical message to a supervisor who's tied up in a meeting without disruption.</p>
                    </div>
                    <div class="tim-typo">
                      <!--<span class="tim-note">Quote</span>-->
                      <!--<blockquote>-->
                        <!--<p>-->
                          <!--If I go to a Salon, I want to be attended to. I want to feel honoured, not to wait in line yet I have other things to do.-->
                        <!--</p>-->
                        <!--<small>-->
                          <!--Someone said.-->
                        <!--</small>-->
                      <!--</blockquote>-->
                    </div>
                    <div class="tim-typo">
                      <h4>Our Sms Services Offer the following:</h4>
                    </div>
                    <div class="tim-typo">
                      <span class="tim-note">Cheap Sms</span>
                      <p class="text-muted">
                        Kenya is vast with telcos and with this comes different costs for communicating with each telco. We are proud to say that not more than 1 KES will be charged for every SMS sent of (160 characters).
                      </p>
                    </div>
                    <div class="tim-typo">
                      <span class="tim-note">Vast Database of mobile numbers</span>
                      <p class="text-muted">
                        Managing almost all of Kenya's beauty industry lover's contacts we are proud to inform you that you will not have to worry about where to get the contacts from but just worry about what to send.
                      </p>
                    </div>
                    <div class="tim-typo">
                      <span class="tim-note">Speed</span>
                      <p class="text-muted">
                        You will be able to send upto 1000 Sms within a minute by just a push of a button.
                      </p>
                    </div>
                    <br>
                    <br>
                    <br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data () {
      return {}
    }
  }
</script>

<style>

</style>
