<template>
  <div id="app">
    <vue-snotify></vue-snotify>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style>
  @import "~vue-snotify/styles/material.css";
</style>
